@media(min-width: 580px)
{
    .container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        max-width: 800px;
        margin: auto;
    }
    .aside{
        background-color:#deebf7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1/3;
    }
    .asideFooter{
        grid-row: 4/9;
        justify-content: flex-start;
    }
}
@media(max-width: 580px)
{
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
    }
    .aside{
        background-color:#deebf7;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content:center;
        order: -1;
    }
    .asideFooter
    {
        flex-wrap: nowrap;
        order: 2;
    } 
}

.abstract{
    background-color: #fff8ea;
    grid-column: 3/-1;
    grid-row: span 2;
    padding: 4%;
}
.title
{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3%;
}

.subtitle
{
    font-size: 1 rem;
    font-weight: bold;
}


.abstract > .body
{
    text-indent: 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.name {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.photo{
    padding-top: 5%;
    width: 45%;
    border-radius: 50%;
    margin: auto;
}

.aside > .text{
    padding-left: 3%;
    margin: 0.2rem;
}

a:link, a:visited, a:active{
    color: inherit;
}
.br {
    display: block;
    font-size: 0px;
}

.bar{
       background-color: #deebf7;
}
div .progress{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1.5rem 0.1rem;
    text-align: center;
}